.container-search{
    display: flex;
    flex: 1 0 100%;
    padding: 12px;
}

.container-search .actionable{
    display: flex;
    flex-basis: 100%;
    justify-content: end;
}

.actionable-content{
    display: flex;
    align-items: center;
}

.container-search .actionable-content>input{
    width: 200px;
    margin-right: 0.5rem;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid black;
}

.container-table{
    display: flex;
    overflow: auto;
    padding: .85dvw;
}

table{
    border-collapse: collapse;
    width: fit-content;
    flex: 1 0 100%;
    min-height: fit-content;
    max-height: 25svh;
}

table th{
    background-color: #941510;
    color: white;
    padding: 1.2rem;
}

table tr{
    box-sizing: border-box;
    text-align: center;
}

table td{
    box-sizing: border-box;
    padding: 10px;
}
