html,body{
    margin: 0;
    height: 100%;
    overflow: clip;
}

body{
    display: flex;
}

.navigation,
.navigation * {
    box-sizing: border-box;
    overflow-x: visible;
}

.navigation{
    display: flex;
    width: fit-content;
    flex-direction: column;
    border-right: 1px solid black;
}

.inner-navigation{
    display: inherit;
    flex-direction: column;
    min-height: fit-content;
    height: 100dvh;
    max-height: 100%;
    padding-left: 10px;
}

.title{
    color: #941510;
    padding: 4px;
}

.category-heading{
    border-bottom: 1px solid black;
    padding: 8px;
}

.category-title{
    color: grey;
    font-size: 18px;
}

[class*=navigation-container-]{
    flex: 1 0 33.33%;
}

.nav-list{
    padding: 0;
}

.nav-item{
    display: flex;
    position: relative;
    list-style: none;
    font-size: 20px;
    padding: 14px;
    align-content: center;
}

.nav-item>svg{
    margin-right: 1rem;
}

.nav-item.active{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #941510;
    color: #ffffff;
}

.nav-item:hover{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #941510;
    color: #ffffff;
}

.nav-item:hover>svg{
    fill: white;
}

/* Drop down related style */
.drop-down{
    position: fixed;
    background: #ffffff;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,25%);
    z-index: 2;
}

.drop-down-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.drop-down-container>a{
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    text-decoration: none;
    color: inherit;
}

.drop-down-container>a:hover{
    background: #941510;
    color: #ffffff;
}
